@import "~sass/_variables";
#header {

	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@include mobile-only {
	 width: 100%;
	 .letter {
		font-size: em(50px);
	 }
	}
	@include mq($from: tablet) {
	 	width: 50%;
	}

	h2 {
		color: $pinkish-grey;
	  font-size: em(24px);
	  font-weight: bold;
	  letter-spacing: 2px;
	  text-transform: uppercase;
	}
}

.guide {

	ul {
	  list-style: none;
	  margin-left: 0;
	  padding-left: 0;
	}

	li {
	  padding-left: 1em;
	  text-indent: -1em;
	}

	@include mobile-only {
		img {
			max-width: 100px;
		}
		p {
			width: 56%;
			float: right;
		}
		a.btn {
			font-size: em(18px)!important;
			margin-left: 17%;
		}
		font-size: em(12px);

	}

	li:before {
	  content: "\2014";
	  padding-right: 5px;
	  font-weight: bold;
	}

	&:not(:nth-child(3n)) {
		@include mobile-only {
			border-bottom: solid 2px black;
			border-right: none;
		}
		border-right: solid 2px black;
	}

}