<div id="header">
	<h2>Investigate</h2>
	<h1 class="letter">{{module?.name}}</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <cdn-image *ngIf="module?.introImage !== undefined" cloudinaryId="{{module?.introImage.public_id}}" alt="{{module?.name}} imagery" width="597" quality="100"></cdn-image>
  </div>
  <div class="col-md-6 condense">
  	<p>{{module?.intro}}</p>
    <app-button label="Visit Site &rarr;" href="{{module?.website}}" ariaLabel="Read more about {{module?.name}}"></app-button>
  </div>
</div>

<h3>Activity Guides</h3>
<div class="row">

  <div *ngFor="let guide of module?.guides;" class="col-md-4 guide condense">
    <h4 id="{{guide.name | cleanString}}_label">{{guide.name}}</h4>
    <cl-image *ngIf="guide.thumbnail !== undefined" public-id="{{guide.thumbnail.public_id}}" width="400" quality="100" crop="scale" fetch-format="auto" secure="true" responsive></cl-image>
  
    <p class="col-xs-6" [innerHtml]="guide.intro.html"></p>

    <app-button label="Download pdf &#10515;" href="{{module.linkUrl}}" ariaLabel="Download PDF for {{guide.name}}"></app-button>
  </div>

</div>