<footer role="contentinfo">
  <h1 id="text">This website is made possible by the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the Engagement Lab @ Emerson College and do not necessarily reflect the views of USAID or the United States Government.</h1>

  <div id="logo">
  	<cdn-image cloudinaryId="civic-idea/usaid-logo.png" width="264"></cdn-image>
  	<cdn-image cloudinaryId="civic-idea/fhi-360-logo-black_3x.png" width="183"></cdn-image>
  	<cdn-image cloudinaryId="civic-idea/el-logo-black_3x.png" width="89"></cdn-image>
  </div>
</footer>