<div class="row" id="guides">
  <div class="col-md-12">
		<h1 class="letter">Guides</h1>
  </div>
</div>

<div *ngFor="let module of modules" class="module">
	<h3>{{module.name}}</h3>
	<div class="row">
	  <div *ngFor="let guide of module.guides" class="col-md-4 guide">

	    <cl-image *ngIf="guide.thumbnail !== undefined" public-id="{{guide.thumbnail.public_id}}" width="398" quality="100" crop="scale" fetch-format="auto" secure="true" responsive></cl-image>
	    
	    <div class="bottom">
		    <p id="{{guide.name | cleanString}}_label">{{guide.name}}</p>
		    <a *ngIf="guide.guidePdf !== undefined" href="{{guide.guidePdf.url}}" class="btn download" role="button" attr.aria-label="Download PDF for {{guide.name}}">
		    	<!-- Arrow image -->
		    	<cdn-image cloudinaryId="civic-idea/arrow.svg" width="60" quality="100" alt="Download arrow image"></cdn-image>
		    </a>
		  </div>
	  </div>
  </div>

</div>