@import "~sass/_variables";
#guides {

	@include mq($from: mobile) {
		background: url(http://via.placeholder.com/1333x297);
		min-height: 297px;
	}
	@include mq($from: tablet, $and: '(orientation: landscape)') {
		background: url(http://via.placeholder.com/1333x297);
		min-height: 297px;
	}
	@include mq($from: wide) {
		background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,w_1339/v1519239488/civic-idea/civic-idea-about_2x.png);
		min-height: 500px;
	}

	h1 {
	  font-size: em(144px);
		position: absolute;
		bottom: -22%;
	}

	margin-bottom: 7%;
}