<div class="row" id="about">
  <div class="col-md-12">
		<h1 class="letter">About</h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6 condense">
  	<p [innerHtml]="about?.description.html"></p>
  </div>
  <div class="col-md-5 offset-md-1 condense" id="sidebar">
    <div class="download">
      <h4>Civic IDEA Concept Paper</h4>
      <p [innerHtml]="about?.conceptDescription.html"></p>
      <app-button label="Download pdf &#10515;" href="{{about?.conceptPdf.url}}" ariaLabel="Download Concept PDF"></app-button>
    </div>
    <div class="download">
      <h4>Civic IDEA Workshop</h4>
      <p [innerHtml]="about?.facilitationDescription.html"></p>
      <app-button label="Download pdf &#10515;" href="{{about?.facilitationPdf.url}}" ariaLabel="Download Workshop PDF"></app-button>
    </div>
  </div>

</div>


<div class="row">

  <div id="contact" class="col-md-6">
	
		<h3>Contact us</h3>
  	
    +1-617-824-3030
    <p>120 Boylston Street<br />Boston, MA 02116</p>
    engagementlab [at] emerson [dot] edu
    
  </div>

</div>