<nav class="navbar fixed-top container" role="banner">
  <h1>
    <a routerLink="/" routerLinkActive="active">
        Civic Idea
    </a>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse" id="main-nav">
    <ul class="ml-auto">
      <li class="nav-item active">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/guides" routerLinkActive="active">Guides</a>
      </li>
    </ul>
  </div>
</nav>