  <div id="blurb" class="col-md-12">
    <!-- <img src="assets\img\myimage.png"> -->
    <div class="col-md-7 offset-md-5">
    	Art party vinyl twee, microdosing pinterest thundercats kombucha raw denim blue bottle tumeric letterpress slow-carb quinoa.
    </div>
  </div>

  <div *ngFor="let module of modules; let odd = odd; let i = index" class="row" [class.reverse]="odd">
    <div class="col-md-5 offset-md-1">
      <h2 class="letter" *ngIf="i==0">I</h2>
      <h2 class="letter" *ngIf="i==1">D</h2>
      <h2 class="letter" *ngIf="i==2">E</h2>
      <h2 class="letter" *ngIf="i==3">A</h2>
      <img src="http://via.placeholder.com/597x447" alt="{{module.name}} imagery" />
    </div>
    <div class="col-md-5">
      <h2 id="{{module.name | cleanString}}_label">{{module.name}}</h2>
      <p>{{module.intro}}</p>
      <app-button label="View more &rarr;" route="/module/{{module.url}}" ariaLabel="Read more about {{module.name}}"></app-button>
    </div>
  </div>
