@import "~sass/_variables";

h2.letter {

	position: absolute;
	top: -50%;
	font-size: em(288px);
	display: inline;

	@include yellow-stroke(5);

}

#blurb {
	
	min-height: 768px;
	margin-bottom: 5%;
	background: url("../../assets/home.png");
	background-size: contain;
	background-repeat: no-repeat;
	font-size: em(36px);
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 1.5px;

}

.row {
	@include mq($from: mobile, $until: tablet) {
	 	margin-bottom: 27%;
	}
	@include mq($from: tablet, $until: desktop) {
	 	margin-bottom: 25%;
	}
	@include mq($from: desktop) {
	 	margin-bottom: 10%;
	}

	&.reverse {
		flex-direction: row-reverse;
	}
}
